body {
    padding: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: black;
}
#calculator {
    max-width: 550px;
    min-width: 350px;
    border: 5px solid;
    margin: auto;
    border-radius: 50px;
    border: solid white 5px;
    padding: 20px;
}
h1 {
    font-size: 500%;
    font-weight: 300;
    color: white;
    margin-right: 4%;
    margin-left: auto;
}
#screen {
    display: flex;
    height: 100px;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid;
    text-align: right;
}
#console {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}
button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 150%;
    font-weight: 700;
    width: 22%;
    border-radius: 100vw;
    border: none;
    margin-bottom: 1%;
    aspect-ratio : 1 / 1;
}
button:active {
    opacity: 80%;
}
#zero {
    width: 46%;
    aspect-ratio : 2 / 1;
}
.clicked {
    opacity: 60%;
}
.number {
    background: #2b2b2b;
    color: white;
}
#percent, #clear, #negative {
    background: gray;
}
.operator, #equals {
    background: #ff9c33;
    color: white;
}
@media (max-width: 550px) {
    button {
        font-size: 100%;
    }
}
