body {
    font-family: 'Roboto';
    min-width: 1000px;
}
section, footer {
    padding-left: 15%;
    padding-right: 15%;
    margin-left: -8px;
    margin-right: -8px;
}
#sectionOne {
    background-color: #1F2937;
    margin-top: -10px;
}
#headerOneText, .headerLink {
    display: inline-block;
    margin-bottom: 100px;
}
#headerOneText {
    font-size: 24px;
    color: #F9FaF8;
}
.headerLink {
    float: right;
    font-size: 18px;
    color: #e5E7EB;
    margin-top: 28px;
    cursor: pointer;
    margin-left: 20px;
}
#heroText {
    font-size: 54px;
    font-weight: 1000;
    color: #F9FAF8;
}
#hero {
    display: flex;
    justify-content: center;
}
#heroLeft, #heroRight {
    flex: 1;
    margin-bottom: 150px;
}
#heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}
#heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 35px;
    cursor: pointer;
}
.images {
    width: 150px;
    border-radius: 15px;
    border: 3px solid #3882F6;
    margin-bottom: 5px;
}
#headerTwoText {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin: 60px;
}
#informationBoxes {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin-bottom: 100px;
}
.informationBox {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}
#sectionThree {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
}
#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
#quoteName {
    font-size: 20px;
    font-weight: 600;
    float: right;
    transform: translate(-30px);
    margin-top: -20px;
}
#sectionFour {
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
#callToAction {
    background-color: #3882F6;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
#ctaHead {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 0px;
}
#ctaSub {
    color: white;
    font-size: 18px;
    font-weight: 300;
}
#ctaButton {
    border: 2px solid white;
}
footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}
#copyright {
    color: white;
    font-weight: 300;
}

