#center {
    margin: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
    max-width: 1500px;
    min-width: 1305px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(152, 179, 187);
    border-style: solid;
    border-width: 5px;
}
#info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(189, 189, 189);
}
#lefthead {
    padding: 20px;
    margin-bottom: 20px;
    height: 140px;
    width:300px;
    flex: 1;
}
#name {
    font-family: serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: -10px;
    margin-top: 30px;
}
#position {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#righthead {
    padding: 20px;
    height: 140px;
    width:300px;
    flex: 1;
}
#computer {
    height: 175px;
    padding: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.things {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 60%;
}
body {
    background: rgb(6,61,167);
    background: linear-gradient(284deg, rgba(6,61,167,1) 0%, rgba(242,145,8,1) 100%);
}
p, li {
    color: rgb(105, 104, 104);
    font-family: Gill Sans, sans-serif;
}
p {
    margin-bottom: -4px;
}
li {
    margin-bottom: 5px;
    list-style: "-  ";
}
.secTitle {
    font-family: Gill Sans, sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: -15px;
    font-variant: small-caps;
}
.dates {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
#hsDates, #uniDates {
    margin-bottom: 12px;
    margin-left: 10px;
}
#education, #skillz {
    display: flex;
}
#schools {
    flex: 1;
    position: relative;
}
#uiuc {
    width: 350px;
    float: right;
    margin-top: 220px;
    filter:opacity(.6);
}
#rmhs {
    width: 350px;
    float: left;
    margin-top: 20px;
    position: absolute;
    margin-left: 150px;
    filter:opacity(.6);
}
hr {
    margin-top: 20px;
}
#computer {
    scale: 2;
    filter:opacity(.6);
    margin: auto;
}
footer {
    text-align: center;
    height: 42px;
}