body {
    background-color: rgb(177, 207, 237);
}
form {
    background: rgb(197, 217, 237);
    margin-top: 30px;
    max-width: 1200px;
    min-width: 700px;
    padding: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border-bottom: dashed;
    border-radius: 20px;
    padding-bottom: 10px;
    width: 500px;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -15px;
    text-align:center;
    color: white;
}
label {
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color:white;
    border: none;
    color: black;
}
select {
    margin-bottom: 35px;
    background-color:white#292929;
    color: black;
    border: none;
    width: 100%;
    text-align: center;
    height: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
textarea {
    margin-bottom: 35px;
    resize: none;
    width: 100%;
    height: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: white;
    border: none;
    color: black;
}
#systemSelect, #multiSelect {
    display: flex;
    justify-content: space-between;
}
#systemSelect {
    display: flex;
    justify-content: space-between;
}
.system {
    width: 25%;
    opacity: 0%;
}
.player {
    width: 33.33%;
}
#submit {
    width: 150px;
}
.systemLabel {
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 8px;
    width: 25%;
    height: 50px;
    margin-left: -25%;
}
.systemLabel:hover {
    background-color: rgb(178, 216, 236);
    border: solid;
    border-radius: 2px;
    border-color: white;
}
#xbox:checked + #xboxLabel{
    background-color: green;
    color: white;
    border: solid black;
}
#ps5:checked + #ps5Label{
    background-color: blue;
    color: white;
    border: solid black;
}
#switch:checked + #switchLabel{
    background-color: red;
    color: white;
    border: solid black;
}
#pc:checked + #pcLabel{
    background-color: orange;
    color: white;
    border: solid black;
}
#playerSelect {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.playerLabel {
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 8px;
}
